---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Screenshots from "../components/Screenshots.svelte";
import Planos from "../components/Planos.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Header />
  <main>
    <Hero />
    <Features />
    <Screenshots client:load />
    <Planos />
    <CTA />
  </main>
  <Footer />
</Base>
